* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav__bar {
    background: #212529;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart {
    background: white;
    color: #212529;
    padding: 15px 20px ;
    font-size: 30px;
    border-radius: 10px;
    position: relative;

}


.amount {
    color: white;
    background: red;
    font-size: 1rem;
    position: absolute;
    top: -4px;
    border-radius: 3px;
    padding: 3px 5px;
    right: -4px;
}